{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <article class="home-mobile">
        <h2>Titre Formation</h2>

        <section>
            <div>
                <p>Places restantes : <span>3</span>/10</p>
                <p>Dates : <span>10/10/2025 - 11/11/2025</span></p>
                <p>Référent : <a href="">Monsieur E. MULLER</a></p>
            </div>
            <a href=""><i class="fa-solid fa-chevron-right"></i></a>
        </section>
    </article>
   
{% endblock %}
