{% extends 'base.html.twig' %}

{% block title %}TrackSion - Liste des stagiaires{% endblock %}

{% block header %}
    <h1><span class="title-default">{{ stagiaire.initiales }} - {{ stagiaire.identity }}</span></h1>
{% endblock %}

{% block body %}

{% endblock %}
