{% extends 'base.html.twig' %}

{% block title %}TrackSion - Liste des Sessions{% endblock %}

{% block body %}

    <article class="session-index">

        <div class="session-index-title">
            <h1>Liste des Sessions</h1>
            <hr class="title-line">
        </div>

        {% for session in sessions %}
            
        {% endfor %}
    </article>


{% endblock %}
